<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    <main id="site-main">
        <% if (users.length>0){ %>
            <div class="container">

                <div class="form-title text-center">
                    <h2 class="text-dark">Search result</h2>
                </div>
                            <!-- form handling -->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Gender  </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < users.length; i++) { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= users[i].member_name %></td>
                                    <td><%= users[i].member_gender %></td>
                                    <td><%= users[i].phone_no %></td>
                                    <td><%= users[i].email %></td>
                                    <td>
                                        <a href="/patient-view?id=<%= users[i].member_id%>&admin=<%= admin %>" class="btn border-shadow update">
                                            <span class="text-gradient"><i class="fas fa-eye"></i></i></span>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </form>
                <br>
            </div>
        <% }else{ %>
            <div class="form-title text-center">
                <h2 class="text-dark">No user found</h2>
            </div>
        <% } %>
    </main>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->